{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'requirements/base.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.4.1.slim.js' %}" type="application/javascript"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- extra heading -->
    {% block head_extra %}{% endblock %}
    <title>{% block page_title %}Page title{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#"><img src="{% static 'requirements/logo.png' %}" width="30" height="30" alt=""> DoorStop</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    {% block head_left %}{% endblock %}
                </div>
                <div class="navbar-nav">
                    {% block head_center %}{% endblock %}
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <span class="navbar-text small">
                        {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}Username: {{ user.get_username }} <a href="{% url 'logout' %}">Logut</a>{% endif %}
                    </span>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body_contents %}
        {% endblock %}
    </div>
</body>
</html>

