{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'requirements/base.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.4.1.slim.js' %}" type="application/javascript"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- extra heading -->
    {% block head_extra %}{% endblock %}
    <title>{% block page_title %}Page title{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            {% block head_left %}
                <a class="navbar-brand" href="#">{% block body_title %}Page title{% endblock %}</a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar"><span class="navbar-toggler-icon"></span></button>
            {% endblock %}
            <span class="navbar-text text-truncate mt-1 w-50 text-center order-1 order-md-last">{% block head_center %}&nbsp;{% endblock %}</span>
            {% if user.is_authenticated %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">
                {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}Username: {{ user.get_username }} <a href="{% url 'logout' %}">Logut</a>{% endif %}
            </span>
            {% else %}
            {% endif %}
        </nav>
        {% block body_contents %}
        {% endblock %}
    </div>
</body>
</html>

