<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.4.1.slim.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- extra heading -->
    {% block head_extra %}{% endblock %}
    <title>{% block page_title %}Page title{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">{% block body_title %}Page title{% endblock %}</a>
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar"><span class="navbar-toggler-icon"></span></button>
            <span class="navbar-text text-truncate mt-1 w-50 text-center order-1 order-md-last">{% block head_center %}&nbsp;{% endblock %}</span>
            {% if user.is_authenticated %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">
                {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}Username: {{ user.get_username }} <a href="{% url 'logout' %}">Logut</a>{% endif %}
            </span>
            {% else %}
            {% endif %}
        </nav>
        <hr class="mt-0 mb-4">
        {% block body_contents %}
        {% endblock %}
    </div>
</body>
</html>

