{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load pygmentify %}

{% block page_title %}Document {{ doc.prefix }}{% endblock %}
{% block body_title %}Update Document {{ doc.prefix }}{% endblock %}
{% block head_extra %}
{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-2">
        <ul>
           <li><a href="{% url 'index-doc' doc.prefix %}">Return to list of {{ doc.prefix }}</a></li>
         </ul>
    </div>
    <div class="col-md-9">
        <form action="{% url 'document-source' doc.prefix %}" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}