{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load pygmentify %}
{% load octicons %}

{% block page_title %}Document {{ doc.prefix }}{% endblock %}
{% block head_left %}
<div class="nav-item dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Document {{ doc.prefix }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for doc in docs %}
    <a class="dropdown-item" href="{% url 'document-source' doc.prefix %}">{{ doc.prefix }}</a>
    {% endfor %}
  </div>
</div>&nbsp;
<div class="nav-item btn-group">
    <a class="btn btn-secondary" href="{% url 'index-doc' doc.prefix %}" title="Return to document index">{% octicon 'fold-up' %}</a>
</div>&nbsp;
<div class="nav-item btn-group">
    <a class="btn btn-primary" href="{% url 'document-export' doc.prefix %}" title="Esport as DOCX">{% octicon 'desktop-download' %}</a>
    <a class="btn btn-primary" href="{% url 'document-export' doc.prefix %}" title="Esport as PDF">{% octicon 'desktop-download' %}</a>
</div>
{% endblock %}

{% block head_extra %}
{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-2">
        <ul>
           <li><a href="{% url 'index-doc' doc.prefix %}">Return to list of {{ doc.prefix }}</a></li>
         </ul>
    </div>
    <div class="col-md-9">
        <form action="{% url 'document-source' doc.prefix %}" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}