{% extends 'requirements/base.html' %}
{% load render_table from django_tables2 %}

{% block page_title %}Requirements {{ doc.prefix }}{% endblock %}
{% block body_title %}Document {{ doc.prefix }}{% endblock %}

{% block body_contents %}
<div class="row">
<div class="col-md-2">
    <p>Operations</p>
    <ul>
        <li><a href="{% url 'item-update' doc.prefix '__NEW__' %}">Create new req in {{ doc.prefix }}</a></li>
    </ul>
    Other documents
    <ul>
        {% for doc in docs %}
        <li>
            <a href="{% url 'index-doc' doc.prefix %}">{{ doc.prefix }}</a>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'document-update' doc.prefix %}"><i class="fa fa-pencil"></i></a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-10">
    {% render_table table %}
</div>
{% endblock %}
</div>
