{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}
{% load forgein_field %}

{% block page_title %}Requirments{% endblock %}
{% block body_title %}Requirement item {{ item.uid }} of Document {{ doc.prefix }}{% endblock %}
{% block head_extra %}{{ form.media }}{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-3">
        <p>Operations</p>
        <ul>
            <li><a href="{% url 'index-doc' doc.prefix %}#{{ item.uid }}">Return to list of {{ doc.prefix }}</a></li>
            <li><a href="{% url 'item-update' doc.prefix item.uid %}">Update req. of {{ item.uid }}</a></li>
            {% if not item.reviewed %}<li><a href="{% url 'item-action' doc.prefix item.uid 'review' %}">Review requisite {{ item.uid }}</a>{% endif %}</li>
            <li><a href="{% url 'item-rawfile' doc.prefix item.uid %}">Edit raw file of {{ item.uid }}</a></li>
            {% for dc in child_docs %}
                <li><a href="{% url 'item-update-from' dc.prefix '__NEW__' item.uid %}">Add child to {{ dc.prefix }}</a></li>
            {% endfor %}
        </ul>
        {% if childs|length %}
        <p>Child documents</p>
        <ul>
        {% for item in childs %}
        <li><a href="{% url 'item-details' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if parents|length %}
        <p>Parent documents</p>
        <ul>
        {% for item in parents %}
        <li><a href="{% url 'item-details' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
     </div>
    {{ form.media }}
    <div class="col-md-8">
        <h1>{{ item.uid }}: {{ item.header }}</h1>
        <p><em>Normative: {{ item.normative }} Reviewed: {{ item.reviewed }}</em></p>
        <hr>
        <p>{{ item.text|linebreaksbr }}</p>
        <div class="row">
        {% for forgein in doc.forgein_fields %}
            <div class="col-md-2">{{ forgein }}: {{ item|foreign_field:forgein }}</div>
        {% endfor %}
        </div>
        <hr>
        {% if issues %}
        <div class="alert alert-warning" role="alert">
            <ul>
            {% for issue in issues %}
            <li>{{ issue }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <hr>
        {% crispy form %}
        <hr>

        {% if comments %}
        <div class="alert alert-dark" role="alert">
        {% for comment in comments %}
        <p>On {{ comment.date }} from {{ comment.author }}: <em>{{ comment.text }}</em></p>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}