{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Requirments{% endblock %}
{% block body_title %}{{ action_name }} Requirement item {{ item.uid }} of Document {{ doc.prefix }}{% endblock %}
{% block head_extra %}{{ form.media }}{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-3">
        <p>Operations</p>
        <ul>
            <li><a href="{% url 'index-doc' doc.prefix %}">Return to list of {{ doc.prefix }}</a></li>
            <li><a href="{% url 'item-update' doc.prefix item.uid %}">Return to requir. {{ item.uid }}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
{% if action == 'review' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm review!</h1>
        <p class="lead">Yor are about the confirm the review process of requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Review requirement</a>
        </p>
    </div>
{% endif %}

{% if action == 'delete' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm delete!</h1>
        <p class="lead">Yor are about the confirm the deletion of requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Delete requirement</a>
        </p>
    </div>
{% endif %}

{% if action == 'unlink' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm unlink of parent!</h1>
        <p class="lead">Yor are about the confirm the unlink of requirement {{ item.uid }} from its parent {{ target.uid }}.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>Child requirement {{ item.uid }}</b></p>
                {{ item.text|linebreaksbr }}
            </div>
            <div class="col-md-6">
                <p><b>Parent requirement {{ target.uid }}</b></p>
                {{ target.text|linebreaksbr }}
            </div>
        </div>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action-target' doc.prefix item.uid action target.uid %}?confirm=1" role="button">
                Unlink requirement
            </a>
        </p>
    </div>
{% endif %}

    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}