{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Requirments{% endblock %}
{% block body_title %}Requirement item {{ item.uid }} of Document {{ doc.prefix }}{% endblock %}
{% block head_extra %}{{ form.media }}{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-3">
        <p>Operations</p>
        <ul>
            <li><a href="{% url 'index-doc' doc.prefix %}">Return to list of {{ doc.prefix }}</a></li>
            <li><a href="{% url 'item-update' doc.prefix item.uid %}">Update req. of {{ item.uid }}</a></li>
            <li><a href="{% url 'item-rawfile' doc.prefix item.uid %}">Edit raw file of {{ item.uid }}</a></li>
        </ul>
        {% if childs|length %}
        <p>Child documents</p>
        <ul>
        {% for item in childs %}
        <li><a href="{% url 'item-update' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if parents|length %}
        <p>Parent documents</p>
        <ul>
        {% for item in parents %}
        <li><a href="{% url 'item-update' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
     </div>
    {{ form.media }}
    <div class="col-md-8">
        <h1>{{ item.uid }}: {{ item.header }}</h1>
        <p><em>Normative: {{ item.normative }} Reviewed: {{ item.reviewed }}</em></p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <hr>
        {% crispy form %}
        <hr>
        {% for comment in comments %}
        <p>On {{ comment.date }} from {{ comment.author }}: <em>{{ comment.text }}</em></p>
        {% endfor %}
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}