{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}
{% load forgein_field %}
{% load md2 %}
{% load static %}
{% load octicons %}

{% block page_title %}DS {{ item.uid }}{% endblock %}
{% block head_center %}Requirement item {{ item.uid }}{% endblock %}
{% block head_left %}
<div class="nav-item dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Document {{ doc.prefix }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for doc in docs %}
    <a class="dropdown-item" href="{% url 'index-doc' doc.prefix %}">{{ doc.prefix }}</a>
    {% endfor %}
  </div>
</div>&nbsp
<div class="nav-item btn-group">
    <a class="btn btn-secondary" href="{% url 'index-doc' doc.prefix %}" title="Return to document index">{% octicon 'fold-up' %}</a>
</div>
{% endblock %}



{% block head_extra %}
{{ form.media }}
<link href="{% static 'requirements/index_details.css' %}" rel="stylesheet">
{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-3">
        <p>Operations</p>
        <ul>
            <li><a href="{% url 'index-doc' doc.prefix %}#{{ item.uid }}">Return to list of doc. {{ doc.prefix }}</a></li>
            {% if prev %}<li><a href="{% url 'item-details' doc.prefix prev.uid %}">Go to prev req. {{ prev.uid }}</a></li>{% endif %}
            {% if next %}<li><a href="{% url 'item-details' doc.prefix next.uid %}">Go to next req. {{ next.uid }}</a></li>{% endif %}
            <li><a href="{% url 'item-update' doc.prefix item.uid %}">Update req. of {{ item.uid }}</a></li>
            <li><a href="{% url 'item-rawfile' doc.prefix item.uid %}">Edit raw file of {{ item.uid }}</a></li>
            {% for dc in child_docs %}
                <li><a href="{% url 'item-update-from' dc.prefix '__NEW__' item.uid %}">Add child to {{ dc.prefix }}</a></li>
            {% endfor %}
            <li><a href="{% url 'vcs-show' %}?f={{ item.uid }}">Show differences from VCS</a></li>
        </ul>
        {% if childs|length %}
        <p>Child documents</p>
        <ul>
        {% for item in childs %}
        <li><a href="{% url 'item-details' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if parents|length %}
        <p>Parent documents</p>
        <ul>
        {% for item in parents %}
        <li><a href="{% url 'item-details' item.document.prefix item.uid %}">{{ item.uid }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
     </div>

    <div id="item-details" class="col-md-8">
        <h1>
            <div class="btn-group">
                {% if prev %}<a type="button" title="Previous item" class="btn btn-outline-primary" href="{% url 'item-details' doc.prefix prev.uid %}" role="button">
                    {% octicon 'arrow-left' %}
                </a>{% endif %}
                {% if not item.deleted %}<a type="button" title="Previous item" class="btn btn-outline-primary" href="{% url 'item-update' doc.prefix item.uid %}" role="button">
                    {% octicon 'pencil' %}
                </a>{% endif %}
                {% if next %}<a type="button" title="Next item" class="btn btn-outline-primary" href="{% url 'item-details' doc.prefix next.uid %}" role="button">
                    {% octicon 'arrow-right' %}
                </a>{% endif %}
            </div>
            <div class="btn-group">
                {% if not item.reviewed and not item.deleted %}
                <a type="button" title="Review item" class="btn btn-outline-warning" href="{% url 'item-action' doc.prefix item.uid 'review' %}">
                    {% octicon 'thumbsup' %}
                </a>
                {% endif %}
                {% if not item.cleared %}
                <a type="button" title="Clear suspect links" class="btn btn-outline-warning" href="{% url 'item-action' doc.prefix item.uid 'review' %}">
                    {% octicon 'issue-closed' %}
                </a>
                {% endif %}
            </div>
            <span {% if item.deleted %}style="text-decoration: line-through;"{% endif %}>{{ item.uid }}: {{ item.header }}</span></h1>
        <p><em>
            Normative: <b>{{ item.normative }}</b>
            Reviewed: <b>{{ item.reviewed }}</b>
            Level: <b>{{ item.level }}</b>
            Deleted: <b>{{ item.deleted }}</b>
        </em></p>
        <hr>
        {{ item.text|markdown:"safe, tables" }}
        <div class="row">
        {% for forgein in doc.forgein_fields %}
            <div class="col-md-2">{{ forgein }}: {{ item|foreign_field:forgein }}</div>
        {% endfor %}
        </div>
        <hr>
        {% if issues %}
        <div class="alert alert-warning" role="alert">
            <ul>
            {% for issue in issues %}
            <li>{{ issue }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <hr>
        {% crispy form %}
        <hr>
        {% if perms.requirements.internal and comments %}
        <div class="alert alert-dark" role="alert">
        {% for comment in comments %}
        <div class="row" {% if comment.closed %}style="text-decoration: line-through;"{% endif %}>
            <div class="col-11"><p>On {{ comment.date }} from {{ comment.author }}: <em>{{ comment.text }}</em></p></div>
            <div class="col-1">{% if not comment.closed %}<a class="btn btn-primary" href="{% url 'item-close-comment' doc.prefix item.uid 'closecomm' forloop.counter0 %}" role="button">Chiudi</a>{% endif %}</div>
        </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}