{% extends 'requirements/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Requirments{% endblock %}
{% block body_title %}{{ action_name }} Requirement item {{ item.uid }} of Document {{ doc.prefix }}{% endblock %}
{% block head_extra %}{{ form.media }}{% endblock %}

{% block body_contents %}
<div class="row">
    <div class="col-md-3">
        <p>Operations</p>
        <ul>
            <li><a href="{% url 'index-doc' doc.prefix %}">Return to list of {{ doc.prefix }}</a></li>
            <li><a href="{% url 'item-update' doc.prefix item.uid %}">Return to requir. {{ item.uid }}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
{% if action == 'review' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm review!</h1>
        <p class="lead">Yor are about the confirm the review process of requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Review requirement</a>
        </p>
    </div>
{% endif %}

{% if action == 'delete' %}
    <div class="jumbotron">
        <h1 class="display-4">{% if item.deleted %}Confirm item deletion{% else %}Move item to trash{% endif %}!</h1>
        <p class="lead">Yor are about to {% if item.deleted %}confirm the deletion{% else %}move to trash{% endif %} of requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Remove requirement</a>
        </p>
    </div>
{% endif %}

{% if action == 'restore' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm restore deleted item!</h1>
        <p class="lead">Yor are about to restore the deleted requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Restore requirement</a>
        </p>
    </div>
{% endif %}

{% if action == 'unlink' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm unlink of parent!</h1>
        <p class="lead">Yor are about the confirm the unlink of requirement {{ item.uid }} from its parent {{ target.uid }}.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>Child requirement {{ item.uid }}</b></p>
                {{ item.text|linebreaksbr }}
            </div>
            <div class="col-md-6">
                <p><b>Parent requirement {{ target.uid }}</b></p>
                {{ target.text|linebreaksbr }}
            </div>
        </div>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action-target' doc.prefix item.uid action target.uid %}?confirm=1" role="button">
                Unlink requirement
            </a>
        </p>
    </div>
{% endif %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

{% if action == 'link' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm link to parent!</h1>
        <p class="lead">Yor are about the confirm the link of requirement {{ item.uid }} with parent {{ target.uid }}.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>Child requirement {{ item.uid }}</b></p>
                {{ item.text|linebreaksbr }}
            </div>
            <div class="col-md-6">
                {% if target %}
                <p><b>Parent requirement {{ target.uid }}</b></p>
                {{ target.text|linebreaksbr }}
                {% else %}
                <form method="get" action="{% url 'item-action' doc.prefix item.uid 'link' %}">
                    <div class="form-group">
                        <label for="parentUid">Parent UID</label>
                        <input type="text" class="form-control" name="parentuid" id="parentUid" aria-describedby="parentUidHelp" placeholder="UID">
                        <small id="parentUidHelp" class="form-text text-muted">Enter the requirement UID of parent item.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Check link to parent</button>
                </form>
                {% endif %}
            </div>
        </div>
        <hr>
        <p class="lead">
            {% if target %}
            <a class="btn btn-primary btn-lg" href="{% url 'item-action-target' doc.prefix item.uid action target.uid %}?confirm=1" role="button">
                Link requirement {{ item.uid }} to parent {{ target.uid }}
            </a>
            {% endif %}
        </p>
    </div>
{% endif %}

{% if action == 'clear' %}
    <div class="jumbotron">
        <h1 class="display-4">Confirm clear suspect parent link!</h1>
        <p class="lead">Yor are about to clear the suspect link status for requirement {{ item.uid }}.</p>
        <hr class="my-4">
        <p>{{ item.text|linebreaksbr }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'item-action' doc.prefix item.uid action %}?confirm=1" role="button">Clear requirement</a>
        </p>
    </div>
{% endif %}

    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}