django==3.0.5
django-crispy-forms==1.9.0
django-tables2==2.3.1
django-markdownify==0.8.0
django-pagedown==2.0.3
django-ace==1.0.7
django-downloadview==2.1.1
django-pygments==0.4
pyyaml==5.3.1
pyficache==1.0.0
