{% extends 'base.html' %}
{% block body_title %}{% endblock %}
{% block body_contents %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
          {% else %}
            <p>Please login to see this page.</p>
          {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign in</button>
        </form>
    </div>
<div class="col-md-4"></div>
{% endblock %}